* {
    margin: 0
}

body {
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    width: 100vw;
    height: 100vh;
    max-width: 1000px;
    border: 2px solid;
    border-top: none;
    border-bottom: none;
    background-color: white;
}

nav {
    display: flex;
    height: 10%;
}

nav ul{
    margin: 0 1vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    width: 100%;
    padding: 0;
}

nav ul li:first-of-type {
    margin-right:auto;
    font-size: 2rem;
    padding: 0;
}

nav ul li:last-of-type {
    padding-right: 0;
}

nav ul li{
    padding: 2vw;
}

nav ul li a{
    color: initial;
    text-decoration: none;
}

main {
    height: 90%;
    background: url(./assets/background.webp);
    background-size: cover;
}

main .main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100% !important;    
}

main form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem 2rem;
    width: 80%;
    border-radius: 0.5rem;
    max-width: 400px;
}

main form input {
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    font-size: inherit;
    font-family: inherit;
    border: 1px solid #7a7a7a;
    border-radius: 2px;
}
main form label {
    margin-bottom: 0.35rem;
}

main form #fakeInput {
    margin-bottom: 1rem
}
main form #fakeInput .select-items div,
main form #fakeInput .select-selected {
    padding: 1rem 1rem !important;
}

main form input#submit {
    background: #79ff79;
    border: 2px solid black;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #7a7a7a;
    border-radius: 2px;
}

.select-selected {
    border: 1px solid #7a7a7a;
    border-radius: 2px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}

main form *:focus {
    outline-color: #4c00ff;
}

section {
    padding: 2vh;
    margin-top: 3vh;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
}

footer p {
    font-size: 4rem;
    margin: 0 3vw
}

footer button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid black;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    padding: 1rem 3rem;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
}

footer button.back {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
} 

footer button.next {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
} 

footer img#plant-list {
    width: 6rem;
    margin: 0 1rem;
}

@media (max-width: 1005px) { 
    body { 
        border: none;
    }

    footer button {
        padding: 1rem 2rem;
    }

    footer img#plant-list {
        width: 5rem;
        margin: 0 1rem;
    }
}

/*
source https://www.w3schools.com/howto/tryit.asp?filename=tryhow_custom_select
*/
/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #fff;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #000 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #000 transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #000;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #4c00ff;
  color: white;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 1.5rem;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #000 transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #000 transparent;
    top: 1rem;
}

div#column-style {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-items div:hover, .same-as-selected {
    background-color: #4c00ff;
    color: white;
}

.select-selected {
    border: 1px solid #7a7a7a;
    border-radius: 2px;
}

#price {
    font-weight: 900;
    font-size: 1.2em;
    font-style: italic;
}

